<img src="static/Haitian Creole_bigram_frequency_graphs.png"style="width:1000px;height:600px;"/>

<img src="static/Haitian Creole_trigram_frequency_graphs.png"style="width:1000px;height:600px;"/>

<img src="static/Jamaican Creole_bigram_frequency_graphs.png"style="width:1000px;height:600px;"/>

<img src="static/Jamaican Creole_trigram_frequency_graphs.png"style="width:1000px;height:600px;"/>

<img src="static/Louisiana Creole_bigram_frequency_graphs.png"style="width:1000px;height:600px;"/>

<img src="static/Louisiana Creole_trigram_frequency_graphs.png"style="width:1000px;height:600px;"/>

<img src="static/Martinique Creole_bigram_frequency_graphs.png"style="width:1000px;height:600px;"/>

<img src="static/Martinique Creole_trigram_frequency_graphs.png"style="width:1000px;height:600px;"/>

<img src="static/Saramaccan Creole_bigram_frequency_graphs.png"style="width:1000px;height:600px;"/>

<img src="static/saramaccan Creole_trigram_frequency_graphs.png"style="width:1000px;height:600px;"/>

<img src="static/pie.png"style="width:1000px;height:600px;"/>