<!doctype html>
<html lang="en">

<head>
  <title>Flask Leaflet GeoJson Creole Language Dictionary Map</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/universal.css') }}" />

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>

  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>

</head>

<body>
  <div id="map"></div>
  <script src="{{ url_for('static', filename='js/universal.js') }}" /></script>
  <script type="text/javascript">


  // PYTHON VARIABLE COMES IN HERE -- FUNCTION TO TRICK CODE DEFINED IN UNIVERSAL.JS
  geojsonFeature = myFunc({{markers|tojson}});

  //Adding layer to add different points
  var myLayer = L.geoJSON().addTo(map);

  //This does not work yet -- it should allow for changing colors
  var myStyle = {
      "color": "#ff0000",
      "fill": "red"
  };

  //Going through the json and adding points to map
  var layerGroup = L.geoJSON(geojsonFeature, {
      style:myStyle,
      onEachFeature: function (feature, layer) {
        layer.bindTooltip('<h1><p>Creole Language: '+feature.properties.creole_language+'</p>'+'<h1><p> Word: '+feature.properties.word+'</p>'+'</h1><p>Creole Word: '+feature.properties.creole_word+'</p>');
      }
    }).addTo(map);

  </script>
</body>
</html>