<!doctype html>
<html lang="en">

<head>
  <title>Flask Leaflet GeoJson Creole Language Dictionary Map</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/universal.css') }}" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
</head>

<body>
  <div id="map"></div>
  <script src="{{ url_for('static', filename='js/universal.js') }}" /></script>
  <script type="text/javascript" src="locations.json">


    /*
    var mydata = JSON.parse(locations);
    var myLayer = L.geoJSON().addTo(map);

    var myStyle = { 
        "color": "#ff0000"
    };

    var geojson = L.geoJson(mydata, {

        style: myStyle,

        onEachFeature: function (feature, layer) {
            layer.bindPopup(feature.properties.popupContent);
        }
    });
    geojson.addTo(myLayer);
    */

    //LOOKUP OPTIONS FOR DIFFERENT COLOR MARKERS
    //    Probaly going to use GeoJson objects
    //    https://geojson.org/
    //    https://leafletjs.com/reference.html
    //    https://leafletjs.com/examples/geojson/ -- adding geojson stuff and color for markers
    //    https://geojson.io/#map=2/0/20 -- adding stuff to geojson marker
    //    https://www.gistechsolutions.com/leaflet/DEMO/Simple/indexMap1.html -- geojson data setup
    //    https://gis.stackexchange.com/questions/317262/how-to-change-the-color-of-geojson-layer
    //{% for marker in markers %}
    //  L.marker([{{ marker['lat'] }}, {{ marker['lon'] }}]).addTo(map)
    //  .bindTooltip("{{ marker['tooltip'] }}")
    //{% endfor %}

    //L.geoJSON(markers).addTo(map);


  </script>
</body>

</html>