<h1>Visual Creole Dictionary</h1>

<form action="/index" method = "POST">
    <p>English/French to Creole Word/Phrase <input type = "text" name = "English" /></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>

<!--Skeleton for adding creole -> english search-->
<form action="/index" method = "POST">
    <p>Creole to English/French Word/Phrase <input type = "text" name = "Creole" /></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>

<form action ="/images">
    <input type="Submit" value="Link to Other Language Analysis Visualizations">
</form>


